@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
* {
  user-select: none;
}

html, body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "OpenSans";
  pointer-events: none;
}

#top-bar {
  box-shadow: 0 10px 20px #35323a4f;
  position: fixed !important;
  z-index: 99999;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  transition: opacity 0.5s ease-in-out;
  font-size: 0;
  pointer-events: none;
}
#top-bar.show {
  opacity: 1;
  pointer-events: initial;
}
#top-bar a, #top-bar span {
  font-size: 16px;
  text-decoration: none;
  color: black;
  display: inline-flex;
  padding: 4px 6px;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.25s ease-in-out;
}
#top-bar a:hover, #top-bar span:hover {
  background-color: #acacac;
}
#top-bar a i, #top-bar span i {
  font-size: 12px;
  margin-left: 8px;
}
#top-bar span {
  position: relative;
}
#top-bar span:hover div {
  display: block;
}
#top-bar span div {
  width: 100%;
  top: 100%;
  position: absolute;
  background: white;
  left: 0;
  display: none;
}
#top-bar span div a {
  width: 100%;
  box-sizing: border-box;
}

header {
  pointer-events: all;
  z-index: -1;
  top: 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background: linear-gradient(145deg, #fa0081 0%, #fafa00 100%);
}
header img {
  width: 128px;
  margin-bottom: 64px;
  -webkit-user-drag: none;
}
header h1 {
  margin-bottom: 0;
}
header a {
  margin-top: auto;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.cube {
  width: 64px;
  height: 64px;
  position: relative;
  transform-style: preserve-3d;
  margin: 32px auto;
  animation: cube-rotation 5s linear infinite forwards;
}
.cube.show .cube-face {
  opacity: 1;
}
.cube .cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  background-image: url("../img/commandBlock.png");
  background-size: 100%;
  transition: opacity 0.5s ease-in-out;
}
.cube .cube-face:nth-child(1) {
  transform: translate3d(0, 0, 32px);
}
.cube .cube-face:nth-child(2) {
  transform: rotateY(180deg) translate3d(0, 0, 32px);
}
.cube .cube-face:nth-child(3) {
  transform: rotateY(-90deg) translate3d(0, 0, 32px);
}
.cube .cube-face:nth-child(4) {
  transform: rotateY(90deg) translate3d(0, 0, 32px);
}
.cube .cube-face:nth-child(5) {
  transform: rotateX(90deg) translate3d(0, 0, 32px);
}
.cube .cube-face:nth-child(6) {
  transform: rotateX(-90deg) translate3d(0, 0, 32px);
}

@keyframes cube-rotation {
  0% {
    transform: rotateX(-25deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-25deg) rotateY(360deg);
  }
}
#main {
  z-index: -1;
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100vh;
  background: white;
  min-height: 100vh;
  border-radius: 16px;
}
#main > div {
  background-color: #594663;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  color: #dce3ec;
  border-radius: 16px;
  text-align: start;
  box-shadow: 0 0 16px #2f2a35b0;
}
#main > div:not(:last-child) {
  margin-bottom: 64px;
}
#main #projects .project {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#main #projects .project img {
  width: 512px;
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
}
#main #projects .project img:hover {
  box-shadow: 0 0 16px #1a171d4b;
  transform: scale(1.01);
}
#main #projects .project div {
  margin-left: 32px;
}
#main #projects .project div h1 {
  margin-top: 0;
  margin-bottom: 48px;
}
#main #projects .project div a {
  border: 2px solid;
  padding: 4px 6px;
  border-radius: 99999px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(145deg, #fa0081 0%, #fafa00 100%);
}

/*# sourceMappingURL=index.css.map */
